services:
    database:
        image: postgres:latest
        volumes:
            - /var/lib/postgresql:/var/lib/postgresql
        environment:
            - POSTGRES_PASSWORD
            - POSTGRES_USER
            - POSTGRES_DB
        restart: always
    cms:
        build:
            context: .
            dockerfile: Dockerfile.cms
        environment:
            - DATABASE_NAME
            - DATABASE_USER
            - DATABASE_PASS
            - DATABASE_HOST=database
            - NODE_ENV=production
            - JWT_SECRET
            - CONTACT_EMAIL
            - EMAIL_USER
            - EMAIL_HOST
            - EMAIL_SMTP_PORT
            - EMAIL_PASS
            - CAPTCHA_SECRET_KEY
        ports:
            - "${CMS_PORT}:1337"
        restart: always
        volumes:
            - ./portfolio-cms:/srv/app
    gatsby:
        build:
            context: .
            dockerfile: Dockerfile.gatsby
        environment:
            - GATSBY_API_URL=http://cms:1337
            - GATSBY_BROWSER_API_URL
            - GATSBY_CAPTCHA_SITE_KEY
        ports:
            - "${GATSBY_PORT}:80"
        restart: always
